<html>

<head>
    <title>My Movie App</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <div class="list-movies-title">
        <h1>My Movie App</h1>
    </div>
    <div>
        <ol class="movie-grid">
            <li class="movie"><img src="https://m.media-amazon.com/images/M/MV5BNWEyOTlhNjMtZjNlMC00Y2QyLTljMjUtZjUzMzIyYTlmNjM1XkEyXkFqcGdeQXVyNjc5NjEzNA@@._V1_SX300.jpg" class="movie-poster" alt="The Hobbit Poster"/><div class="movie-title">The Hobbit</div><p class="movie-year">1977</p><p class="movie-rating">Rating: 6.7</p><p class="movie-notes">A good movie</p></li>
        </ol>
    </div>
</body>

</html>